.menuDesktop{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-right: 100px;
  }
  .menuDesktop li a{
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    transition: 0.5s all;
    font-family: 'Rajdhani', sans-serif;
  }
  .menuDesktop li a:hover{
    color: #0C0824;
    border: 1px solid #fff;
  }
  @media (max-width: 768px){
    .menuDesktop{
        display: none;
    }
  }