.hamburgerMenu {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-right: 20%;
  display: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
  width: 25px;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(4px, 4px);
}

.hamburger span:nth-child(2) {
  opacity: 0;
}

.hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
}

.hamburgerClear {
  transform: initial !important;
  opacity: initial !important;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
  background-color: #D8B83F;
  list-style: none;
  margin-top: 20px;
  padding: 0 10px 10px 20px;
}

.menu li {
  margin: 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.menu li:hover {
  color: #fff;
  background-color: #333;
}

.hamburger-menu:hover .menu {
  display: block;
}
@media (max-width: 768px){
  .hamburgerMenu{
      display: block;
  }
}