
header{
    width: 100%;
    height: 80px;
    background-color: #D8B83F;  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo{
    margin-left: 50px;
    padding: 10px;
    height: 80px;
    background-color: #0C0824;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
  }
  .menuDesktop{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-right: 100px;
  }
  .menuDesktop li a{
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    transition: 0.5s all;
    font-family: 'Rajdhani', sans-serif;
  }
  .menuDesktop li a:hover{
    color: #0C0824;
    border: 1px solid #fff;
  }

  /*Elementos*/
.Degrader{
    background: linear-gradient(0.25turn, #a24bd4, #7327a1, #380158);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18vw;
    height: 35vh;    
}
.Degrader div{
    background-color: #0C0824;
    width: 15vw;
    height: 30vh;
}
.QuadradoWhite{
    width: 2vw;
    height: 4vh;
    background-color: #fff;
}
.ElementesInvert{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.ElementesInvert span{
    width: 50px;
    height: 3px;
    background-color: #fff;
    rotate: 30deg;
    display: block;
}
.ElementoZebrao{
    overflow: hidden;   
    width: 10vw;
    height: 20vh; 
}
.ElementoZebrao div{
    width: 15vw;
    height: 25vh;
    background-color: #0C0824;;    
    z-index: -99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    rotate: 45deg;
}
.ElementoZebrao div span{
    width: 150%;
    height: 10px;
    background-color: #fff;
    display: block;
}