
header{
    width: 100%;
    height: 80px;
    background-color: #D8B83F;  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    margin-left: 50px;
    padding: 10px;
    height: 80px;
    background-color: #0C0824;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
  }
  .menuDesktop{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-right: 100px;
  }
  .menuDesktop li a{
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    transition: 0.5s all;
    font-family: 'Rajdhani', sans-serif;
  }
  .menuDesktop li a:hover{
    color: #0C0824;
    border: 1px solid #fff;
  }

  /*Elementos fundo*/
  .degrader-one{
    position: absolute;
    z-index: -99;
    top: -70px;
    left: 15%;
  }
  .degrader-rigth{
    position: absolute;
    right: -100px;
    z-index: -99;
    top: -80px;
  }
  .degrader-botton{
    position: absolute;
    bottom: -100px;
    right: 25%;
  }

.ElementesLeft{
  position: absolute;
  z-index: -99;
  top: 50%;
  left: 3%;
}
.ElementesRigth{
  position: absolute;
  top: 60%;
  right: 3%;
  rotate: 90deg;
  z-index: -99;
}
.ZebraoLeft{
  position: absolute;
  bottom: 0;
  z-index: -99;
}
.ZebraoRigth{
  position: absolute;
  right: 0;
  top: 40%;
  z-index: -99;
}
.quadrado-primeiro{
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #fff;
  z-index: -98;
  left: 23%;
  top: 10%;
}

.Section{
  position: absolute;
  bottom: 0;
}
.BarraAmarela{
  position: absolute;
  width: 35%;
  height: 30px;
  bottom: 0;
  left: 15%;
}
.ham7{
  display: none;
}